.file-uploaderr {
  display: flex;
  align-items: center;
  border-radius: 32px;
  border: 1px solid #ececec;
  background: var(--Blocks, #f7f8f8);
  cursor: pointer;
  /* height: 260px; */
  width: 100%;
}

.upload-labell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 0px;
  height: 260px;
  width: 100%;
}

.upload-labelDisabled {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  margin-bottom: 0px;
  height: 260px;
  width: 100%;
}

.fiedldImggg {
  width: 100%;
  height: 260px;
  border-radius: 16px;
  border: 1px solid #ececec;
}

.submitKyc {
  border-radius: 24px;
  opacity: var(--sds-size-stroke-border);
  background: var(--Primary, #be170f);
  color: var(--White, #fff);
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-color: #be170f;
}

.kycSubmitted {
  color: #d29016;
  font-family: Outfit;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-weight: 600;
}

.kycApproved {
  color: #0ca63a;
  font-family: Outfit;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-weight: 600;
}
